@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Просим прощения за доставленные неудобства";
}

<hgroup class="title">
    <h1 class="error">Просим прощения за доставленные неудобства</h1>
    <h2 class="error">На данный момент страница недоступна</h2>
</hgroup>
