@{
 
}
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/MainPageStyle.css" rel="stylesheet" />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Сайт посвящен тематике атеросклеротического поражения артерий конечностей и имеет свой целью информирование широкого круга посетителей о результатах исследования в области прогнозирования данного заболевания.
            </p>
        </div>
    </section>
}
<div class="row">
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="div img thumb" src="Images/03.jpg" alt="...">
        <div class="caption">
            <h3>Актуальность задачи <br/><br/></h3>
            <p>Многоканальная объемная сфигмография как инструмент ранней диагностики атеросклероза</p>
            <p><a href="Home/AboutResearch" class="btn btn-default" role="button">Значимость ранней диагностики </a></p>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="div img thumb" src="Images/91.jpg" alt="...">
        <div class="caption">
            <h3>Результаты обследования</h3>
            <p>Результаты скринингого обследования взрослого населения Богучарского района</p>
            <p> <a href="Home/PopulationCharacteristics" class="btn btn-default" role="button">Детали проведения обследования</a></p>
        </div>
    </div>
</div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="div img thumb" src="Images/92.jpg" alt="...">
        <div class="caption">
            <h3>Медицинский глоссарий <br/><br/></h3>
            <p>Словарь специфических медицинских терминов <br/><br/> </p>
            <p> <a href="Home/Glossary" class="btn btn-default" role="button">Узнать значения мед. теминов  </a></p>
        </div>
    </div>
</div>
    </div>
    <div class="row">

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="div img thumb" src="Images/stat.jpg" alt="...">
                <div class="caption">
                    <h3>Отбор признаков <br /><br /></h3>
                    <p>Результаты предварительного отбора значимых медицинских показателей <br /><br /></p>
                    <p><a href="Home/FeatureSelection" class="btn btn-default" role="button">STATISTICA Feature Selection</a></p>
                </div>
            </div>
        </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="div img thumb" src="Images/9.jpg" alt="...">
        <div class="caption">
            <h3>Результаты анализа данных</h3>
            <p>Результаты статистического анализа реальных данных, полученных в ходе диспансеризации</p>
            <p><a href="Home/ClassificationTrees" class="btn btn-default" role="button">STATISTICA Classification Trees</a></p>
        </div>
    </div>
</div>



        <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img class="div img thumb"  src="Images/survey.jpg" alt="...">
        <div class="caption">
            <h3>Тестирование<br/><br/></h3>
            <p>Прогноз наличия в организме предикторов атеросклероза<br/><br/></p>
            <p><a href="Measurement/Index" class="btn btn-default" role="button">Узнать о риске развития АС</a></p>
        </div>
    </div>
</div>


</div>







</div>