@model IEnumerable<CardiologicalResearch.Models.ExaminationResult>

@{
    ViewBag.Title = "Index";
}

@section featured {
    <section class="featured" id="tests">

    </section>
}


@Html.Partial("StaticTable")


